@import "tailwindcss";

@font-face {
  font-family: "Terminal";
  src: url("/terminal-grotesque_open.woff2");
}

@font-face {
  font-family: "SatoshiMedium";
  src: url("/Satoshi-Medium.woff2");
}

@font-face {
  font-family: "SatoshiBold";
  src: url("/Satoshi-Bold.woff2");
}

:root {
  /*font-family: system-ui, Helvetica, sans-serif;*/
  font-family: "SatoshiMedium", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fafaf9;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.satoshi-bold {
  font-family: "SatoshiBold", sans-serif;
  color: "#fafaf9";
}

.color-gray {
  color: "#a1a1a1";
}

.terminal {
  font-family: "Terminal", sans-serif;
}

@keyframes shake-soft {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(1px);
  }
}

.shake-soft {
  animation: shake-soft 0.5s ease-in-out;
}

/* OJOS PASSWORD INPUT */

.ojo-icon {
  stroke: #1f1f1f;
}

.ojo-icon:hover {
  stroke: white;
  transition: all 0.6 ease-in-out;
}
